body{
    font-family: 'Poppins';
    overflow-x: hidden !important;
    background-color: #E5E5E5;
    color: #000;
}
.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.navbar-toggler{
    border: 0px;
    padding: 0px;
}

.navbarIcon{
    color: black;
    margin-top: 0.5rem;
    line-height: 0;
}

.homeSectionText{
    font-weight: 600;
    font-size: 2.375rem;
}

.problemSectionTitle{
    font-weight: 700;
    font-size: 1.312rem;
}

.problemSectionComment{
    font-weight: 700;
    color: #880808;
    font-style: italic;
    font-size: 1rem;
}

.problemSectionText{
    font-weight: 400;
    font-size: 1rem;
}

.groundworkTitle, .footprintSectionTitle{
    font-weight: 700;
    font-size: 1.312rem;
    text-align: center;
}

.carousel {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #999;
	text-shadow: none;
	top: 4px;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 20px;
	margin-right: 2px;
}
.carousel-control-prev {
	left: auto;
	right: 40px;
}
.carousel-control-next i {
	margin-right: -2px;
}
.carousel .carousel-indicators {
	bottom: 15px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}
.carousel-indicators li {	
	background: #D9D9D9;
	border: none;
}
.carousel-indicators li.active {		
	background: #FFC5DE;		
}

/*
.joinUsFormBtn{
    background-color: #FFC5DE;
    font-weight: 700;
    font-size: 1rem;
}
*/

.infoCardsSection{
    text-align: center;
}

.infoCardBody{
    background: #fff;
}

.infoCardTitle, .statCardText{
    font-weight: 700;
    font-size: 1.750rem;
    margin-bottom: 8px;
}

.infoCardsubTitle{
    font-weight: 700;
    font-size: 1.312rem;
    color: #F084B6;
    margin-bottom: 8px;
}

.infoCardText, .footprintSectionText{
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.footprintSlider{
    text-align: center;
}

#startvalue, #currentvalue{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 0.750rem;
}

#totalYears, #footprintValue{
    font-weight: 700;
}

/*
.statisticsSection{
    background: #FFC5DE;
    text-align: center;
    color: #fff;
}

.statHead{
    color: #757474;
    font-weight: 700;
    text-align: center;
    font-size: 1rem;
    margin: 40px 2.5px 24px;
}

.statBighead{
    font-size: 2.07rem;
}
.statCardBody{
    background: #FFC5DE;
}

.statCardCount{
    font-weight: 700;
    font-size: 1.44rem;
}

.statCardIcon{
    margin-bottom: 30px;
}

.joinUsSection{
    background: #E5E5E5;
    text-align: center;
}

.joinUsHead{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.joinUsText{
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.joinUsProcess{
    text-align: center;
}



.processCardCircle{
    margin-bottom: 16px;
}

.processCardCircletext{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.processCardText{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}
*/
.footer{
    background-color: #fff;
    padding: 17px;   
    margin: 0 !important;
}

.footerBody{
    font-size: 0.833rem;
    font-weight: 400;
    color: #000;
    padding: 2px;
}

/*MOBILE VIEW-1*/
@media (max-width: 320px){
    body{
        margin: 10px;
    }

    .titleIcon{
        padding: 0;
    }

    .navbar{
        padding: 17.5px 0px;  
    }

    .homeSection{
        margin-top: 20px;
        margin-bottom: 24px;
    }

    .homeSectionText{
        font-weight: 600;
        font-size: 1.750rem;
    }

    .problemSectionTitle{
        margin-bottom: 12px;
    }
    
    .problemSectionComment{
        margin-bottom: 8px;
    }
    
    .problemSection{
        margin-bottom: 24px;
    }

    .groundworkTitle, .footprintSectionTitle{
        margin-top: 16px;
        margin-bottom: 16px;
    }
   
    .infoCardsSection{
        padding: 0px;
    }
    
    .infoCardBody{
        margin-bottom: 16px;
        padding: 24px;
    }
    
    .slider{
        width: 100%;
    }

    .footprintSectionText{
        margin-bottom: 16px;
    }

    .footerBodyText{
        margin-bottom: 16px;
    }

    
    .footerIcon{
        margin-right: 10px;
    }
      
/*
    .homeCardbody, .statCardBody{
        padding:24px 16px;
    }
    .homeCardBtn, .joinUsFormBtn{
        padding: 6% 9.2%;
    }
    .statBighead{
        font-size: 1.6rem;
    }
    .joinUsSection{
        padding: 40px;
    }
*/

    
}

/*MOBILE VIEW-2*/
@media (min-width: 321px) and (max-width: 376px){
    .navbar{
        padding: 17.5px 0px;  
    }

    .titleIcon{
        padding: 0;
    }

    body{
        margin: 0px 16px;
    }

    .homeSection{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .problemSectionTitle{
        margin-bottom: 12px;
    }
    
    .problemSectionComment{
        margin-bottom: 8px;
    }
    
    .problemSection{
        margin-bottom: 24px;
    }

    .groundworkTitle, .footprintSectionTitle{
        margin-bottom: 16px;
    }

    .infoCardsSection{
        padding: 0px;
    }
    
    .infoCardBody{
        margin: 0px 24px 24px 10px;
        padding: 24px;
    }
    
    .slider{
        width: 70%;
    }

    .footprintSectionText{
        margin-bottom: 24px;
    }

    .footerBodyText{
        margin-bottom: 16px;
    }

    
    .footerIcon{
        margin-right: 10px;
    }
    /*
    .statCardBody{
        margin: 0px 10px 24px;
    }

    .joinUsSection{
        padding: 40px;
    }
    .homeCardBtn, .joinUsFormBtn{
        padding: 6% 9.2%;
    }

    .homeCardbody, .statCardBody{
        padding:24px 16px;
    }*/
    
   
}

/*MOBILE VIEW-3*/

@media (min-width: 376px) and (max-width: 668px){
    body{
        margin: 0px 32px;
    }

    .navbar{
        padding: 17.5px 0px;  
    }

    .titleIcon{
        padding: 0;
    }

    .homeSection{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .problemSectionTitle{
        margin-bottom: 12px;
    }
    
    .problemSectionComment{
        margin-bottom: 8px;
    }
    
    .problemSection{
        margin-bottom: 24px;
    }

    .groundworkTitle, .footprintSectionTitle{
        margin-bottom: 16px;
    }

    .infoCardsSection{
        padding: 0px;
    }
    
    .infoCardBody{
        margin: 0px 24px 24px 10px;
        padding: 24px;
    }
    
    .slider{
        width: 50%;
    }

    .footprintSectionText{
        margin-bottom: 24px;
    }

    .footerBodyText{
        margin-bottom: 16px;
    }

    /*
    .homeCardbody, .statCardBody{
        padding:24px 16px;
    }
    
    .homeCardBtn, .joinUsFormBtn{
        padding: 2.6% 3.9%;
    }

    .statCardBody{
        margin: 40px 24px 24px 10px;
        padding: 40px;
    }

    .joinUsSection{
        padding: 40px;
    }*/
    
    
}

/*  DESKTOP VIEW */
@media (min-width: 668px){
    body{
        margin-left: 142px;
        margin-right: 142px;
    }
    .homeSection{
        margin-top: 84px;
    }

    .homeSectionText{
        margin-bottom: 24px;
    }
    .navbar{
        padding: 17.5px 5px;  
    }
    .problemSectionTitle{
        margin-bottom: 12px;
    }
    
    .problemSectionComment{
        margin-bottom: 8px;
    }
    
    .problemSection{
        margin-bottom: 80px;
    }

    .groundworkTitle, .footprintSectionTitle{
        margin-bottom: 24px;
    }

    .infoCard{
        margin-bottom: 80px;
    }

    .infoCardBody{
        margin-right: 20px;
        padding: 52px 16px;
    }

    .slider{
        width: 30%;
    }

    .footprintSectionText{
        margin-bottom: 24px;
    }

    .footerBodyText{
        margin-bottom: 16px;
    }
    
    /*
    .statCardBody{
        padding:24px 16px;
    }

    .homeCardBtn{
        padding: 16px 24px;
    }
    
    .joinUsFormBtn{
        padding: 6% 9.2%;
    }
    
    .statCard{
        padding: 40px 32px;
    }
    .joinUsSection{
        padding: 40px;
    }
    .joinUsSection{
        padding: 80px 240px;
    }
    .processCardBody{
        padding-right: 50px;
    }
    .joinUsFormBtn{
        padding: 16px 300px;
    }
    */
}